<!DOCTYPE html>
<html>
    <head>
        <style>
            footer {
              text-align: center;
              padding: 3px;
              background-color: rgb(173, 169, 167);
              color: white;
            }
        </style>
        {% if title %}
        <title>{{ title }} - Flask Chronicles</title>
        {% else %}
        <title>Flask Chrnoicles</title>
        {% endif %}
    </head>
    <body>
        <div>
            Flask Chrnoicles: 
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            <a href="{{ url_for('explore') }}">Explore</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}

        <footer>
            <p>Copyright: Space Aliens &copy;</p>
            <p>Author: Sakhile and the Aliens! 👽<br>
            <a href="mailto:sakhile@mars.io">sakhile@mars.io</a></p>
        </footer>
    </body>
</html>